APScheduler==3.9.1
aspose-words==22.6.0
colorama==0.4.5
deprecation==2.1.0
docx2pdf==0.1.8
fire==0.4.0
Flask-APScheduler==1.12.4
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
img2pdf==0.4.4
lxml==4.9.1
opencv-python==4.6.0.66
packaging==21.3
pdf2docx==0.5.4
pdf2image==1.16.0
pdf2jpg==1.1
pyparsing==3.0.9
PyPDF2==2.4.1
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
SQLAlchemy==1.4.39
termcolor==1.1.0
tqdm==4.64.0
tzdata==2022.1
tzlocal==4.2
