{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="row justify-content-center pt-4 pb-5">
        <div class="col-12 col-md-11 col-lg-8 text-center">
            <h1 class="font-weight-bold">
               <span class="text-orange">
                Grow your online visibility.<br>
               </span> On all key channels. From just one platform.
            </h1>

            <p class="py-5">11+ tools on SEO, content marketing, competitor research, PPC and social media marketing to help you attract and grow your audience online faster.</p>

            <button type="button" class="btn active btn-orange btn-lg text-white mb-4">Check Our All tools</button>

            <hr class="mt-5">
        </div>
    </div>
    {% endblock %}